
<div class="show row">
  <div class="cover col-md-4">  
    <%=image_tag @album.cover %>  </div>

  <div class="col-sm-8">
    <p class="album-title"><%=@album.title %>   </p>
    <p class="album-artist"><%=@album.artist %>    </p>
    
 
    <% @tracks.each do |d| %>
    <div class="track row">
      <div class="name col-md-8"><p><%= d.name %></p></div>
      <div class="minutes col-md-4"><p><%= d.minutes %>  min</p></div>
    </div>
       <% end %>
    
    
  </div>
</div>
